.demo-table {
  width: 100%;

}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

table{
background-color: rgb(0, 99, 248);
position:relative;
top: -3240px;
}

#adicionar{
background-color: rgb(221, 221, 250);
}
