
<!-- 'position', 'name', 'end', 'idade', 'nota1', 'nota2', 'nota3', 'media', 'status' -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Endereco Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef>Endereco</th>
    <td mat-cell *matCellDef="let element">{{element.end}}</td>
  </ng-container>

   <!-- Idade Column -->
   <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef>Idade</th>
    <td mat-cell *matCellDef="let element">{{element.idade}}</td>
  </ng-container>

     <!-- Nota1 Column -->
     <ng-container matColumnDef="nota1">
      <th mat-header-cell *matHeaderCellDef>Nota1</th>
      <td mat-cell *matCellDef="let element">{{element.nota1}}</td>
    </ng-container>

       <!-- Nota2 Column -->
       <ng-container matColumnDef="nota2">
        <th mat-header-cell *matHeaderCellDef>Nota2</th>
        <td mat-cell *matCellDef="let element">{{element.nota2}}</td>
      </ng-container>

     <!-- Nota3 Column -->
     <ng-container matColumnDef="nota3">
      <th mat-header-cell *matHeaderCellDef>Nota3</th>
      <td mat-cell *matCellDef="let element">{{element.nota3}}</td>
    </ng-container>

     <!-- Nota1 Column -->
     <ng-container matColumnDef="media">
      <th mat-header-cell *matHeaderCellDef>Media</th>
      <td mat-cell *matCellDef="let element">{{element.media}}</td>
    </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>
<!--<app-alunos-details></app-alunos-details> -->
<!-- <br><div id="adicionar">
  <label for="new-hero">Aluno: </label>
  <input id="new-hero" #heroName /> -->

  <!-- (click) passes input value to add() and then clears the input -->
 <!--  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    inserir
  </button>
</div> -->

<!-- <button type="button" class="delete" title="delete aluno
(click)="delete(aluno>x</button>

    <ul class="alunos">
    <li *ngFor="let aluno of alunos">
    <a routerLink="/detail/{{aluno.id}}">
    <span class="badge">{{aluno.id}}</span> {{aluno.name}}
    </a>
    <button type="button" class="delete" title="delete aluno"
    (click)="delete(aluno)">x</button>
    </li>
    </ul> -->


<!--
<br><div *ngIf="!clickedRows.size">
  Click no nome do aluno para saber sua situação escolar
</div>
<div>
  <h3>
    ALUNO SELECIONADO ENCONTRA-SE NA SEGUINTE SITUAÇÃO:
  </h3>
</div>

<ul>
  <li *ngFor="let clickedRow of clickedRows">
    Aprovado - {{clickedRow.name}}
  </li>
</ul>

<app-dialog></app-dialog>
<br>

<br>Calcule a seguir as notas dos alunos:

<app-nota></app-nota> -->





