<mat-toolbar>
<span>Dashboard - Alunos e Notas</span>
<form action="/search" id="searchthis" method="get" style="display: inline;">
<input id="pesquisafsm-caixa" name="q" placeholder=" Faça sua busca aqui...." size="40" type="text" /> <input id="pesquisafsm-botao" type="submit" value="Buscar" /> </form>
</mat-toolbar>
<br>

<dashboard></dashboard>
<br><br>
<componente001></componente001>
<componente002></componente002>
<componente003></componente003>
<componente004></componente004>
<componente005></componente005>
<componente006></componente006>
<componente007></componente007>
<componente008></componente008>
<componente009></componente009>
<br>
<menulateral></menulateral>
<app-alunos></app-alunos>


