
<div id="alunoM" class="example-box" cdkDragLockAxis="y" cdkDrag>
<h1 >100</h1>
<br>
Alunos Matriculados
</div>

<div id="alunoA" class="example-box" cdkDragLockAxis="x" cdkDrag>
  <h1>60</h1>
  <br>
  Alunos Aprovados
</div>

<div id="alunoR" class="example-box" cdkDragLockAxis="y" cdkDrag>
  <h1>20</h1>
  <br>
  Alunos de Recuperação
</div>

<div id="alunoRR" class="example-box" cdkDragLockAxis="x" cdkDrag>
  <h1>05</h1>
  <br>
  Alunos Reprovados
</div>

<div id="alunoSE" class="example-box" cdkDragLockAxis="y" cdkDrag>
  <h1>05</h1>
  <br>
  Alunos em Situação Especial
</div>


<div id="alunoT" class="example-box" cdkDragLockAxis="x" cdkDrag>
  <h1>10</h1>
  <br>
  Alunos Transferidos
</div>

